<section class="cd-product">
		<div class="cd-product-intro">
			<h1>Message Blitz</h1>
			<p>Send your friends a blitz of funny image messages.</p>
			<div class="cd-triggers">
				<a href="#" class="cd-btn">Blitz a Friend</a>
				<a href="#cd-product-tour" id="cd-start" class="cd-btn">How it works</a>
			</div>
		</div> <!-- cd-product-intro -->

		<div id="cd-product-tour" class="cd-product-mockup">
			<%= image_tag "cd-app-image.png", alt: "Preview image" %>
			<ul class="cd-points-container">
				<li class="cd-single-point">
					<a class="cd-img-replace" href="#0">More info</a>
					<div class="cd-more-info cd-left">
						<h2>Title</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil.
						</p>
						<a href="#0" class="cd-close-info cd-img-replace">Close</a>
					</div>
				</li> <!-- .cd-single-point -->

				<li class="cd-single-point">
					<a class="cd-img-replace" href="#0">More info</a>
					<div class="cd-more-info cd-left">
						<h2>Title</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil.
						</p>
						<a href="#0" class="cd-close-info cd-img-replace">Close</a>
					</div>
				</li> <!-- .cd-single-point -->

				<li class="cd-single-point">
					<a class="cd-img-replace" href="#0">More info</a>
					<div class="cd-more-info cd-right">
						<h2>Title</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil.
						</p>
						<a href="#0" class="cd-close-info cd-img-replace">Close</a>
					</div>
				</li> <!-- .cd-single-point -->
			</ul> <!-- .cd-points-container -->

			<div class="cd-3d-right-side"></div>
			<div class="cd-3d-bottom-side"></div>
		</div> <!-- .cd-product-mockup -->
		<a href="#0" class="cd-close-product-tour cd-img-replace"></a>
	</section> <!-- .cd-product -->
